  .burger-menu {
    display: none; 
}

.burger-icon {
    width: 30px;
    height: 20px; 
    cursor: pointer; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.line {
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.burger-menu.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg); 
}

.burger-menu.open .line:nth-child(2),
.burger-menu.open .line:nth-child(4) {
    opacity: 0; 
}

.burger-menu.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); 
}


@media only screen and (max-width: 768px) {
    .burger-menu {
        display: block; 
    }

    .navbar-content {
        display: none; 
    }

    .burger-nav {
        display: none;
    }
}




.burger-nav {
    display: none;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.burger-nav {
    display: none;
    padding: 20px;
    position: absolute;
    top: 70px; 
    right: 20px; 
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; 
}


.burger-nav ul {
    list-style: none;
    padding: 0;
}

.burger-nav ul li {
    margin-bottom: 20px;
}

.burger-nav ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    display: block;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


.burger-nav ul li a:hover {
    background-color: #1333a9;
}


.burger-nav ul li.active a {
    font-weight: bold;
}


.burger-nav ul li.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #3a0cf0;
    border-radius: 50%;
}


.burger-icon {
    position: absolute;
    top: 50px; 
    right: 20px; 
}

.burger-nav ul li a img {
    vertical-align: middle; 
    width: 30px; 
    margin-right: 10px; 
}
